.App-header {
  font-size: calc(10px + 2vmin);
}
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; }

#nav a {
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
}
.Welcome-text{
  float: left;
  padding-left: 5%;
  padding-right: 15%;
  padding-top: 5%;
}
.Welcome-sub{
  font-size: calc(5px + 1vmin);
}
.Welcome-blurb{
  font-size: calc(5px + 1vmin);
  padding-top: 10%;
}
#Pictures{
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
body{
  background-color:#FFFAFA;;
}
.Page-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  padding-right: 25px;
}
.AboutMe{
  float: left;
}
@media only screen and (max-device-width : 640px) {
  .HomePageInfo{
    background-color: blue;
  }
}

